body {
    margin: 0;
    font-family: Arial;}

.navigatiebalk {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #003317;
    padding: 20px;

}

#navigatielinks {
    list-style: none;
    justify-content: center;
    list-style: none;
    display: flex;
    
    gap: 20px;
    margin: 0;
    padding: 0;
}

.navigatielinks a {
    color: white;
    text-decoration: none;
    text-align: center;
}

.Knop {
    display: none;
    cursor: pointer;
}


    .nav-links.open {
        display: flex;
    }
    .hamburger {
        display: block;
    }

