body {
    margin: 0;
    font-family: Arial;}

.navigatiebalk {
    display: flex;
    justify-content: space-between;
    background: #333;
    padding: 10px;
    color: white;
}

.navigatielinks {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navigatielinks a {
    color: white;
    text-decoration: none;
}

.Knop {
    display: none;
    cursor: pointer;
}

@media(max-width:700px){
    .nav-links {
        display: none;
        flex-direction: column;
        background: #333;
        position: absolute;
        right: 10px;
        top: 50px;
    }
    .nav-links.open {
        display: flex;
    }
    .hamburger {
        display: block;
    }
}

.ContactHeader {
    text-align: center;
}

/* FOOTER */

.footer-wrapper {
            background-color: #283F25;
            padding: 25px 0;
        }

        .footer-content {
            max-width: 1400px;
            max-height: 900px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }

        .contact-info {
            color: #e8f4dc;
            font-size: 18px;
            line-height: 2.2;
        }

        .contact-info div {
            display: flex;
            gap: 0;
        }

        .contact-label {
            display: inline-block;
            width: 110px;
        }

        .contact-separator {
            margin: 0 10px;
        }

        .contact-value {
            font-weight: normal;
        }

        .opening-hours {
            text-align: right;
            color: white;
        }

        .opening-hours h2 {
            font-size: 42px;
            font-weight: 300;
            margin-bottom: 30px;
            letter-spacing: 0.5px;
        }

        .opening-hours p {
            line-height: 2.2;
            font-size: 18px;
        }